<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="mywebpage.css">
</head>
<body>

<ul class="navbar">
	  <li><%= link_to 'Home', "/", :style=>'color: black;'%></li>
      <li>About</li>
      <li> <%= link_to 'Portfolio', action: "portfolio"%></li>
      <li> <%= link_to 'Contact Me', action: "contact"%></li>
      
</ul>

<br>
<br>



<div class="aboutpic">
	<img src="https://photos-6.dropbox.com/t/2/AADYYtmeYa6TVEcvu8VZxFce1rKoY7xyXpkYzNks1w9FmQ/12/61905955/jpeg/32x32/1/_/1/2/weddingpic.jpg/EJTjv4EFGCUgBygH/G6vJ6AzsWi_BYYZNfz1vl8Lj6AK4AOMpWcYrXovSO24?size=2048x1536&size_mode=3">



<div class="aboutdes">
	<p>THAT'S ME ON MY WEDDING DAY! </p>
  <br>
  <p> MY NAME IS <span style="font-weight:bold; font-size:14px">PABLO BOLAÑOS-CACHO </span> AND I LIVE IN SAN DIEGO, CA. I DO RUBY ON RAILS, HTML, CSS, GITHUB, AND HEROKU. </p>
  <br>
  <p> I DEVELOP WEB APPS FOR BOTH DOMESTIC AND INTERNATIONAL COMPANIES. I CAN ALSO LEAD A TEAM OF DEVELOPERS BY CREATING THE SYNERGY NEEDED TO FULFILL MY CUSTOMER'S EXPECTATIONS QUICKLY. </p>
  <br>

  <p> WHETHER THE BUSINESS REQUIRES INITIAL DEVELOPMENT, IS ADDING OR REPLACING DEVELOPERS, I CONVERT MY CUSTOMER'S VISION INTO REALITY.</p>
</div>

</div>






<div class="aboutfooterport">
    <a href="https://github.com/pablobol09"><img src="https://photos-1.dropbox.com/t/2/AADejWl1MK5V-SQABeUhaztInMXR3NDVvurM2UuF1rCsmA/12/61905955/png/32x32/1/_/1/2/github1.png/EJTjv4EFGBMgBygH/9ygziNRE-dBk2ZQz2YClcC-fCXTqJ-zODqjWjE3AZgc?size=2048x1536&size_mode=3"></a>
    <a href="https://www.linkedin.com/in/pablo-bola%C3%B1os-cacho-3a443926?trk=nav_responsive_tab_profile_pic"><img src="https://photos-3.dropbox.com/t/2/AACahw85UG3oE1Z9tQOXE_mT4vdYFDU0u7sFjAiWzavEdQ/12/61905955/png/32x32/1/_/1/2/linkedin3.png/EJTjv4EFGBkgBygH/UZY2zdfWaLgisHWXCNT1-Hi1qRLPOIFGnsyiYn3cOpY?size=2048x1536&size_mode=3"></a>
    <a href="https://twitter.com/pablobol09"><img src="https://photos-2.dropbox.com/t/2/AABakl_hUHBw3A0mB944NPbzLqsjEYcgQzmcECHSDuNUtA/12/61905955/png/32x32/1/_/1/2/twitter1.png/EJTjv4EFGBEgBygH/gI2pr8d1QtZpIw5V5CZ8Nrvl5Eg_TNBT148o7SIF_3Y?size=2048x1536&size_mode=3"></a>
  </div>	

<div class="copyright">
    <p>© 2015 Pablo BC<p>
  </div>



</body>

</html>