<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="mywebpage.css">
</head>
<body>
    
    <ul class="navbar">
      <li><%= link_to 'Home', "/", :style=>'color: black;'%></li>
      <li><%= link_to 'About', action: "about", :style=>'color: black;'%></li>
      <li> <%= link_to 'Portfolio', action: "portfolio"%></li>
      <li>Contact Me</li>
    </ul>

    <br>
    <br>


<div class="contactpic">
    <br>
    <a href="https://github.com/pablobol09"><img src="https://photos-4.dropbox.com/t/2/AABJzdCA-L0rAcAqavjfbSbVZth9u6VRhChVrHsRUWSLOg/12/61905955/png/32x32/1/_/1/2/github-logo-black-shape%20(1).png/EJTjv4EFGCsgBygH/Q09OFNOoS_nXiw4JstC5cmzUvKEAGfk0RDX0pSMpuFo?size=2048x1536&size_mode=3"></a>
    <a href="https://www.linkedin.com/in/pablo-bola%C3%B1os-cacho-3a443926?trk=nav_responsive_tab_profile_pic"><img src="https://photos-2.dropbox.com/t/2/AAA-OUsg6bHcThjgio8RDKrkDYk0EzSnReZaw3lX-G1-BQ/12/61905955/png/32x32/1/_/1/2/linkedin-letters.png/EJTjv4EFGC4gBygH/M5fvstrpxvrIlTxdYrwlSBS6I9-_EIUIp2YNi17BUbk?size=2048x1536&size_mode=3"></a>
    <a href="https://twitter.com/pablobol09"><img src="https://photos-3.dropbox.com/t/2/AAAVkSSLyZPn1Ui9UQ9pCG6nBDSDApp5XF9OLeSzVg4nSw/12/61905955/png/32x32/1/_/1/2/twitter.png/EJTjv4EFGCggBygH/eZ3ry0y07T5Eb0LIlbD9qd3NJO37P6McT_Sl1NMqOHg?size=2048x1536&size_mode=3"></a>
    <a href="mailto:pablobol09@gmail.com"><img src="https://photos-6.dropbox.com/t/2/AAC9l2Cqc3qwhmQlmoI2n6jxp3-GWPxYS7O4UAn8Oyg5Xg/12/61905955/png/32x32/1/_/1/2/icon.png/EJTjv4EFGC8gBygH/ooCpvVuRcKWyU8DIzjEiJ_DAoIjmFVmXihQI5dkRsKo?size=2048x1536&size_mode=3"></a>
    


</div>

<br>
<br>
	
  <div class="footer">
    
  </div>

	<div class="copyright">
    <p>© 2015 Pablo BC<p>
  </div>

</body>

</html>