<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="mywebpage.css">
</head>
<body>

<ul class="navbar">
	  <li><%= link_to 'Home', "/", :style=>'color: black;'%></li>
      <li><%= link_to 'About', action: "about", :style=>'color: black;'%></li>
      <li>Portfolio</li>
      <li> <%= link_to 'Contact Me', action: "contact", :style=>'color: black;'%></li>
      
</ul>

<br>
<br>

<div class="portfoliopic">

</div>


<ul class="apps1">
	<li id="first">
	<img src="https://photos-3.dropbox.com/t/2/AABIhhZ9KgY4yWqJ3jVRJGuXBFZkcqEKYAnxsgB9FLtGGA/12/61905955/jpeg/32x32/1/_/1/2/rsz_1app1.jpg/EJTjv4EFGAsgBygH/APxeCX56yPHHrFvMVNdgTEt2pDD1jLtoKI5UfrP40do?size=2048x1536&size_mode=3">
	
    </li>
	

	<li id="second"><img src="https://photos-5.dropbox.com/t/2/AADezADcrBrKe1r2ku3fHkskUvDJaAHRkUM6hCnB4FGuVg/12/61905955/jpeg/32x32/1/_/1/2/rsz_app2.jpg/EJTjv4EFGAwgBygH/p3MHKJVvBbZ90pqvFvN5bBenlmUmOg3anhU81rTqYQI?size=2048x1536&size_mode=3"></li>
</ul>

<ul class="des1">
	<li id="des1">
	<h1> Innovation Cloud </h1>
	<p> this is my first app </p>	
	</li>
	<li>
	<h1> We Are Broadway </h1>
	<p> this is my second app </p>	
	</li>
</ul>


<ul class="apps2">
	<li id="third"><img src="https://photos-5.dropbox.com/t/2/AADezADcrBrKe1r2ku3fHkskUvDJaAHRkUM6hCnB4FGuVg/12/61905955/jpeg/32x32/1/_/1/2/rsz_app2.jpg/EJTjv4EFGAwgBygH/p3MHKJVvBbZ90pqvFvN5bBenlmUmOg3anhU81rTqYQI?size=2048x1536&size_mode=3"></li>
	<li><img src="https://photos-1.dropbox.com/t/2/AACaYIRwgoalXF3rAtb5kIx4jFDpDZ8p32YOZAtK1POQHQ/12/61905955/jpeg/32x32/1/_/1/2/rsz_app3.jpg/EJTjv4EFGA0gBygH/IGOsl9zhQVOTgfmyhDmazpmTDEqqVM_YtX1CwVzTSLQ?size=2048x1536&size_mode=3"></li>
</ul>

<ul class="des2">
	<li id="des3">
	<h1> We Are Broadway</h1>
	<p> this is my third app </p>	
	</li>
	<li>
	<h1> Favorite Movies </h1>
	<p> this is my fourth app </p>	
	</li>
</ul>

<div class="footerport">
    <a href="https://github.com/pablobol09"><img src="https://photos-1.dropbox.com/t/2/AADejWl1MK5V-SQABeUhaztInMXR3NDVvurM2UuF1rCsmA/12/61905955/png/32x32/1/_/1/2/github1.png/EJTjv4EFGBMgBygH/9ygziNRE-dBk2ZQz2YClcC-fCXTqJ-zODqjWjE3AZgc?size=2048x1536&size_mode=3"></a>
    <a href="https://www.linkedin.com/in/pablo-bola%C3%B1os-cacho-3a443926?trk=nav_responsive_tab_profile_pic"><img src="https://photos-3.dropbox.com/t/2/AACahw85UG3oE1Z9tQOXE_mT4vdYFDU0u7sFjAiWzavEdQ/12/61905955/png/32x32/1/_/1/2/linkedin3.png/EJTjv4EFGBkgBygH/UZY2zdfWaLgisHWXCNT1-Hi1qRLPOIFGnsyiYn3cOpY?size=2048x1536&size_mode=3"></a>
    <a href="https://twitter.com/pablobol09"><img src="https://photos-2.dropbox.com/t/2/AABakl_hUHBw3A0mB944NPbzLqsjEYcgQzmcECHSDuNUtA/12/61905955/png/32x32/1/_/1/2/twitter1.png/EJTjv4EFGBEgBygH/gI2pr8d1QtZpIw5V5CZ8Nrvl5Eg_TNBT148o7SIF_3Y?size=2048x1536&size_mode=3"></a>
  </div>	

<div class="copyright">
    <p>© 2015 Pablo BC<p>
  </div>



</body>

</html>