<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="mywebpage.css">


</head>
<body>
    

  

    <ul class="navbar">
      <li>Home</li>
      <li id="about">About</li>
      <li id="port"> <%= link_to 'Portfolio', "pages/portfolio", :style=>'color: black;'%> </li>
      <li>Contact</li>
      
    </ul>

  



  <div class="name">
    <h4> Pablo Bolanos </h4>
  </div>
   <br> 
   <br>

<div class="sandy">
	<div class="tagline">
    <h1> Welcome to my page, I develop apps </h1>
  <div>
    <div class="lang">
    <h4 id="i"> BIENVENIDO</h4>
    <h4 id="m"> WILLKOMMEN </h4>
    <h4 id="a"> BIENVENUE</h4>
    <h4 id="k"> BENVENUTO </h4>
    <h4 id="e"> ようこそ</h4>
    <h4 id="a"> 歡迎 </h4>
    <h4 id="p"> добро пожаловать</h4>
    <h4 id="pp"> VÄLKOMMEN</h4>
    <h4 id="s"> BEM VINDA</h4>
    </div>

  
  
  

  <div class="btn">
    <p>View my Work </p>
  </div>
</div>

<br>
<br>
	
  <div class="footer">
    <a href="https://github.com/pablobol09/mywebpage.git"><img src="https://photos-1.dropbox.com/t/2/AADejWl1MK5V-SQABeUhaztInMXR3NDVvurM2UuF1rCsmA/12/61905955/png/32x32/1/_/1/2/github1.png/EJTjv4EFGBMgBygH/9ygziNRE-dBk2ZQz2YClcC-fCXTqJ-zODqjWjE3AZgc?size=2048x1536&size_mode=3"></a>
    <a href="https://www.linkedin.com/in/pablo-bola%C3%B1os-cacho-3a443926?trk=nav_responsive_tab_profile_pic"><img src="https://photos-3.dropbox.com/t/2/AACahw85UG3oE1Z9tQOXE_mT4vdYFDU0u7sFjAiWzavEdQ/12/61905955/png/32x32/1/_/1/2/linkedin3.png/EJTjv4EFGBkgBygH/UZY2zdfWaLgisHWXCNT1-Hi1qRLPOIFGnsyiYn3cOpY?size=2048x1536&size_mode=3"></a>
    <a href="https://twitter.com/pablobol09"><img src="https://photos-2.dropbox.com/t/2/AABakl_hUHBw3A0mB944NPbzLqsjEYcgQzmcECHSDuNUtA/12/61905955/png/32x32/1/_/1/2/twitter1.png/EJTjv4EFGBEgBygH/gI2pr8d1QtZpIw5V5CZ8Nrvl5Eg_TNBT148o7SIF_3Y?size=2048x1536&size_mode=3"></a>
  </div>

	<div class="copyright">
    <p>© 2015 Pablo BC<p>
  </div>

</body>

</html>
