<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="mywebpage.css">
</head>
<body>
    
    <ul class="navbar">
      <li>Home</li>
      <li>About</li>
      <li> <%= link_to 'Portfolio', "pages/portfolio", :style=>'color: black;'%> </li>
      <li>Contact</li>
    </ul>

    <br>
    <br>

<div class="madmen">

    <h2 class="tline"> Welcome to my page, I develop web apps </h2>
  
    <div class="lang">

    <h4> WELCOME <h4>
    <h4> BIENVENIDO</h4>
    <h4> WILLKOMMEN </h4>
    <h4> BIENVENUE</h4>
    <h4> BENVENUTO </h4>
    <h4> ようこそ</h4>
    <h4> 歡迎 </h4>
    <h4> ДОБРО ПОЖАЛОВАТЬ</h4>
    <h4> VÄLKOMMEN</h4>
    <h4> BEM VINDA</h4>
    <h4> BEVINGUT </h4>
    <h4> DOBRODOŠLI</h4>
    <h4> VELKOMMEN </h4>
    <h4> VITAJTE</h4>
    <h4> TERVETULOA</h4>
    <h4> ΚΑΛΩΣ ΗΡΘΑΤΕ</h4>
    <h4> WELKOM </h4>
    
    </div>


</div>

<br>
<br>
	
  <div class="footer">
    <a href="https://github.com/pablobol09/mywebpage.git"><img src="https://photos-1.dropbox.com/t/2/AADejWl1MK5V-SQABeUhaztInMXR3NDVvurM2UuF1rCsmA/12/61905955/png/32x32/1/_/1/2/github1.png/EJTjv4EFGBMgBygH/9ygziNRE-dBk2ZQz2YClcC-fCXTqJ-zODqjWjE3AZgc?size=2048x1536&size_mode=3"></a>
    <a href="https://www.linkedin.com/in/pablo-bola%C3%B1os-cacho-3a443926?trk=nav_responsive_tab_profile_pic"><img src="https://photos-3.dropbox.com/t/2/AACahw85UG3oE1Z9tQOXE_mT4vdYFDU0u7sFjAiWzavEdQ/12/61905955/png/32x32/1/_/1/2/linkedin3.png/EJTjv4EFGBkgBygH/UZY2zdfWaLgisHWXCNT1-Hi1qRLPOIFGnsyiYn3cOpY?size=2048x1536&size_mode=3"></a>
    <a href="https://twitter.com/pablobol09"><img src="https://photos-2.dropbox.com/t/2/AABakl_hUHBw3A0mB944NPbzLqsjEYcgQzmcECHSDuNUtA/12/61905955/png/32x32/1/_/1/2/twitter1.png/EJTjv4EFGBEgBygH/gI2pr8d1QtZpIw5V5CZ8Nrvl5Eg_TNBT148o7SIF_3Y?size=2048x1536&size_mode=3"></a>
  </div>

	<div class="copyright">
    <p>© 2015 Pablo BC<p>
  </div>

</body>

</html>
